<!-- 	<% unless browser.mac? %>
	 <a  href="http://zxing.appspot.com/scan?ret=<%= URI.encode('' << root_url << 'scans/{CODE}')%>">
		Scan a new item
	</a>
	<%else%>
		<a href="pic2shop://scan?callback=<%= URI.encode('' << root_url << 'scans/EAN')%>">
		Scan a new item
	</a>
	<%end%> -->